<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container" id="title-box">
        <h1 class="flow-text title header center black-text">NIKKI VEEN</h1>
        <h3 class="flow-text header center black-text">Web Developer</h3>
      </div>
    </div>
    <div class="parallax"><img src="<%= image_path('background.jpg') %>" alt="background image"></div>
</div>
<div>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
  X<br>
</div>


