<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container z-depth-5" id="title-box">
        <h1 class="flow-text title header center black-text">NIKKI VEEN</h1>
        <h3 class="flow-text header center black-text">Web Developer</h3>
      </div>
    </div>
    <div class="parallax"><img src="<%= image_path('background.jpg') %>" alt="background image"></div>
</div>
<div id="about" class="row container">
  <div class="col s12 m6 push-m6 l6 push-l6">
    <img id="headshot" class="responsive-img z-depth-5" src="<%= image_path('headshot.jpg') %>" alt="headshot image">
  </div>
  <div class="col s12 m6 pull-m6 l6 pull-l6 right-align">
    <p class="mt-0">Hi there! My name is Nikki!</p>
    <p>I am passionate about web development. I love that this career allows me to learn something new every day, and it's exceptionally fulfilling to regularly use my creativity to solve problems and innovate.</p>
    <p>After many years working in customer service and the service industry, I believe that on top of my technical skills, I bring an ability to connect and socialize with my teammates and clients.</p>
    <p>Beyond work, I love to travel, and I'm slowly checking countries off my list. I also love to cook, and play as many intramural sports as possible.</p>
    <p>I'm always seeking new opportunities to <a href="/contact">connect!</a> I'd love to chat!</p>
  </div>
</div>

