<div id="projects-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container z-depth-5" id="title-box">
      <h1 class="flow-text title header center black-text">PROJECTS</h1>
    </div>
  </div>
  <div class="parallax"><img src="<%= image_path('background.jpg') %>" alt="background image"></div>
</div>
<div class="container center">
  <h1 class="ptb-100">Coming Soon...</h1>
</div>