<div id="resume-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container z-depth-5" id="title-box">
      <h1 class="flow-text title header center black-text">RESUME</h1>
    </div>
  </div>
  <div class="parallax"><img src="<%= image_path('background.jpg') %>" alt="background image"></div>
</div>

<div id="resume" class="container">
  <div class="row">
    <div class="col s12 m7 push-m5 l9 push-l3">
      <div class="row">
        <div class="col s12">
          <div class="card-panel resume-header">
            <span class="center">
              <h5 class="title">EMPLOYMENT</h5>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel employment">
            <span>
              <h5>Contract Web Developer</h5>
              <h6>Actualize Coding Bootcamp & Apprenticeship | 2016 - 2017</h6>
              <ul class="employment-details">
                <li>• Worked in an Agile scrum setting and participated in both pair programming and solo projects</li>
                <li>• Reported to and worked directly with the Director of Engineering and CEO of Actualize</li>
                <li>• Completely redesigned the website for Raw Thrills, a popular video game manufacturer of games such as Big Buck Hunter and Jurassic Park. Rebuild included a CMS to manage all content and an e-commerce store. Utilized Ruby on Rails, Vue.js, RSpec, and integrations with SendGrid, Braintree, and AWS S3</li>
                <li>• Developed an API to store and handle initial outgoing text message and email contact to all new leads that come into the Actualize website, as well as an admin dashboard for maintaining the contact process using Ruby on Rails, Vue.js, PostgreSQL, Twilio, SendGrid, and Materialize</li>
                <li>• Designed a web application to assist bootcamp graduates in tracking the progress of leads and applications during their job search process using Ruby on Rails, Vue.js, PostgreSQL, and Materialize</li>
                <li>• Created a marketing site with a blog feature for Buy Me Now, an application that uses image recognition to link directly to the product's e-commerce page, using Ruby on Rails and PostgreSQL</li>
                <li>• Lead instructor for a 5-week after-school pilot program partnering with Chicago Public Schools. Taught a group of nine 5th - 8th graders paired with their teachers HTML, CSS, and JavaScript with the goal of bringing computer science and coding skills into daily schooling</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel employment">
            <span>
              <h5>Web Developer</h5>
              <h6>The Difference Engine | 2016</h6>
              <ul class="employment-details">
                <li>• Project manager responsible for writing all stories and managing sprint planning sessions</li>
                <li>• Directly handled all communication with the client and demo of the project after each sprint</li>
                <li>• Worked in an Agile scrum setting and pair programmed with a team of 6</li>
                <li>• Reported to and worked directly with tech lead</li>
                <li>• Completely rebuilt web application and content management system for 100 Club of Chicago (not yet live) using Ruby on Rails, JavaScript, HTML, CSS</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel employment">
            <span>
              <h5>Sales Coordinator</h5>
              <h6>Apartments.com | 2011 - 2016</h6>
              <ul class="employment-details">
                <li>• Worked closely with sales and finance teams to support, review, and process all sale agreements</li>
                <li>• Consistently kept a high level of accuracy while logging all sales for commissions purposes</li>
                <li>• Created and maintained all documentation of processes for training purposes and trained all new employees </li>
                <li>• Completed detailed analysis and audit of log to ensure correctness utilizing Microsoft Excel and Visual Basic to create automated processes</li>
                <li>• Promoted from Ad Production Coordinator position, which involved training all new employees, communicating directly with customers, ensuring accuracy of content for online ads, and sending out reporting to the team</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m5 pull-m7 l3 pull-l9">
      <div class="row">
        <div class="col s12">
          <div class="card-panel resume-header">
            <span class="center">
              <h5 class="title">SKILLS</h5>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel" id="skills">
            <span class="center">
              <ul>
                <li>Ruby on Rails</li>
                <li>Vue.js</li>
                <li>JavaScript</li>
                <li>RESTful APIs</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Agile Methodologies</li>
                <li>Pair Programming</li>
                <li>Customer Service</li>
                <li>Packing Suitcases</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel resume-header">
            <span class="center">
              <h5 class="title">EDUCATION</h5>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel" id="education">
            <span class="center">
              <ul>
                <li>Aurora University</li>
                <li>Actualize Coding Bootcamp & Apprenticeship</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>