<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h1>New Message from nikkiveen.com:</h1>
		<p><span style="font-weight: bold;">Name: </span><%= @name %></p>
		<p><span style="font-weight: bold;">Email: </span><%= @email %></p>
		<p><span style="font-weight: bold;">Subject: </span><%= @subject %></p>
		<p><span style="font-weight: bold;">Message: </span><%= @message %></p>
  </body>
</html>
