/**************** FONTS ****************/
html {
  font-family: 'Lato', sans-serif;
}

.title {
  font-family: 'Limelight', cursive;
}

/**************** STICKY FOOTER ****************/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}

main {
  flex: 1 0 auto;
}

/**************** MARGIN/PADDING ****************/
.mt-0 {
  margin-top: 0;
}