@import 'colors';

/**************** PARALLAX PAGE HEADER ****************/
#index-banner.parallax-container {
  min-height: 403px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#resume-banner.parallax-container, #contact-banner.parallax-container, #projects-banner.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}


#title-box h1 {
  font-weight: bold;
  font-size: 5rem;
}

#title-box h3 {
  font-weight: 900;
}

@media only screen and (max-width : 1150px) {
  #projects-banner #title-box h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section, #resume-banner .section, #contact-banner .section, #projects-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 895px) {
  #contact-banner #title-box h1{
    font-size: 4rem;
  }
  #projects-banner #title-box h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width : 775px) {
  #resume-banner .section, #contact-banner .section, #projects-banner .section {
    top: 0;
  }

  #resume-banner #title-box h1 {
    font-size: 3rem;
  }

  #contact-banner #title-box h1 {
    font-size: 2.5rem;
  }

  #projects-banner #title-box h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section, #resume-banner .section, #projects-banner .section {
    top: 0;
  }

  #title-box h1 {
    font-size: 3rem;
  }

  #resume-banner #title-box h1 {
    font-size: 2.3rem;
  }

  #contact-banner #title-box h1 {
    font-size: 2rem;
  }

  #projects-banner #title-box h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width : 450px) {
  #projects-banner #title-box h1 {
    font-size: 1.5rem;
  }
}

.parallax-container .section {
  width: 100%;
}

.section-banner .title {
  color: $lt-gray;
}

#title-box {
  margin-top: 90px;
  width: 40%;
  padding: 10px;
  background-color: rgba(240, 240, 240, .5);
}

#resume-banner #title-box, #contact-banner #title-box, #projects-banner #title-box {
  margin-top: 45px;
  width: 40%;
  padding: 10px;
  background-color: rgba(240, 240, 240, .5);
}